In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('messages_Jan-12.csv', delimiter='\t', header=None)

In [4]:
df = df.rename(columns={0:'idx', 1:'msg_txt', 2: 'annotation'})

In [5]:
df.head()

   idx                                            msg_txt annotation
0    0    In Kyiv, fragments of a downed rocket damage...          1
1    1    Kyiv region is attacked by drones again, air...          1
2    2    Explosions are also heard in the capital. Ai...          1
3    4    Kyiv region is attacked by drones - Kuleba  ...          1
4    7    Air defense is working in Makariv village in...         \N

In [6]:
annotated = df[(df['annotation'] == '1') | (df['annotation'] == '0')]

In [7]:
annotated.head()

   idx                                            msg_txt annotation
0    0    In Kyiv, fragments of a downed rocket damage...          1
1    1    Kyiv region is attacked by drones again, air...          1
2    2    Explosions are also heard in the capital. Ai...          1
3    4    Kyiv region is attacked by drones - Kuleba  ...          1
5    5    The rocket that fell in Shevchenkivskyi dist...          0

In [8]:
len(annotated)

953

In [9]:
annotated.to_csv('annotated.csv')