In [2]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('../data/split_full.csv')

In [7]:
len(data)

259209

In [9]:
num_of_samples = 2000

In [10]:
sample_nums = np.random.randint(0,len(data)+1, size=num_of_samples)

In [12]:
sample = data.iloc[sample_nums]

In [13]:
len(sample)

2000

In [14]:
sample.head()

,datetime,message,translation,original,source
127258,2023-01-25 12:25:00,TRANSLATION : Germany approves re-export of ...,Germany approves re-export of Leopard 2 tank...,Німеччина схвалила реекспорт танків Leopard ...,https://t.me/antiitforce/29708 ✙ ATF•Anti Te...
257704,2023-04-28 19:58:00,TRANSLATION : ORIGINAL : SOURCE : https://...,,,https://t.me/UkraineNow/32333 Ukraine NOW
45331,2023-03-20 17:12:00,TRANSLATION : ORIGINAL : SOURCE : https://...,,,https://t.me/XU_kraine/33732 XUA-фото войны
48959,2023-03-24 14:57:00,TRANSLATION : ORIGINAL : SOURCE : https://...,,,https://t.me/novostiniko/33920 Новости Никол...
187595,2023-02-05 11:38:00,TRANSLATION : Soldiers of the Aidar battalio...,Soldiers of the Aidar battalion are always r...,"Бійці батальйону ""Айдар"" завжди готові борот...",https://t.me/operativnoZSU/76013 Оперативний...

In [9]:
sample_df = pd.DataFrame(columns=['message', 'annotation'])

In [10]:
sample_df['message'] = sample['message']

In [11]:
sample_df.head()

                                                  message annotation
269608  \nTRANSLATION :\nThe Turkish government has on...        NaN
181446  \nSource : Pravda Gerashchenko\nTRANSLATION :\...        NaN
119486  \nTRANSLATION :\nBoris Johnsonuk, a glorious C...        NaN
179702  \nTRANSLATION :\nNear Kherson, the AFU destroy...        NaN
248673  \nSource : Инсайдер UA\nTRANSLATION :\n⚡️Zelen...        NaN

In [13]:
sample_df.to_csv('sample.csv')

In [18]:
test_sample = sample_df.iloc[0:10]

test_sample.to_csv('test_sample.csv')

In [29]:
test = pd.read_csv('/home/j/Documents/Projects/class projects/sentimental/annotated_test.csv')

In [30]:
test.head()

,Unnamed: 0.1,Unnamed: 0,message,annotation
0,0,269608,\nTRANSLATION :\nThe Turkish government has on...,0.0
1,1,181446,\nSource : Pravda Gerashchenko\nTRANSLATION :\...,1.0
2,2,119486,"\nTRANSLATION :\nBoris Johnsonuk, a glorious C...",0.0
3,3,179702,"\nTRANSLATION :\nNear Kherson, the AFU destroy...",1.0
4,4,248673,\nSource : Инсайдер UA\nTRANSLATION :\n⚡️Zelen...,0.0